<div class="copyright">&copy; {{"now"|date('Y')}} {{site.title}}</div>
<div>
  <div class="search-container">
    {% include "searchform.twig" %}
  </div>
  <nav id="nav-footer" class="nav-footer" role="navigation">
    {% include "menu-social.twig" with {'menu': footer_menu.get_items} %}
  </nav>
  <!-- #nav -->
</div>