.page-home {
  display: flex;
  flex-direction: column-reverse;

  @include atMedium {
    flex-direction: row;
  }

  &-description {
    flex: 1;
    margin-top: 2rem;

    @include atMedium {
      margin-top: 0;
    }
  }

  &-contact {
    flex: 1;
    
    text-align: right;

    .contact-title {
      color: $red;
      font-size: .9em;
      letter-spacing: .05em;
      text-transform: uppercase;
      
      margin: 0;
    }

    .hours {
      p {
        margin: 0;
      }
    }
  }
}

.featured-images {
  display: flex;
  
  img {
    align-self: flex-start;
    
    width: calc(100%/3);

    filter: grayscale(1);

    &:hover {
      filter: none;
    }
  }
}